<h2 class = "main">Education 🏫</h2>
<br class ="left">
<div class = "grid-container">
    <div class = "education-container">
        <div class="circle">
            <img src = "assets/images/ub_logo.PNG" class = "left-img">
        </div>
        <div class = "container-bg-ub">
            <h2>University at Buffalo,<br>The State University of New York</h2>
        </div>
        <br>
        <h3>
            Computer Science B.S.
        </h3>
        <div [style.display]="displayInfo ? 'none' : 'block'" class = "toggle-switch">
            <a (click)="toggleInfo()">&#8659;</a>
        </div>
        <div [style.display]="displayInfo ? 'block' : 'none'">
            <ul>
                <li>
                    <u>Expected Graduation Date:</u> December 2024
                </li>
                <li>
                    <u>GPA:</u> 4.000
                </li>
                <li>
                    <u>Honors:</u> Dean's List (4x), Pride of New York Scholarship
                </li>
                <li><u>Relevant Courses:</u> 
                    Intro to Artificial Intelligence, Software Engineering, Intro to Computer Security, Intro to Web Applications, Modern Networking Concepts, Data Structures and Algorithms, Advanced Algorithms
                </li>
                <li>
                    <u>Extracurricular Activities:</u> UB Hacking (Hackathon), Society of Asian Scientist and Engineers, DivTech, Vietnamese Student Association, Asian American Student Union
                </li>
            </ul>
            <div class = "toggle-switch">
                <a (click)="toggleInfo()" [style.display]="displayInfo ? 'inline' : 'none'">&#8657;</a>
            </div>
        </div>
    </div>
    <div class = "education-container right-panel">
        <div class="circle">
            <img src = "assets/images/pat-med_logo.PNG" class = "right-img">
        </div>
        <div class = "container-bg-pmhs">
            <h2>Patchogue-Medford High School<br><br></h2>
        </div>
        <br>
        <h3>
            Advanced Regents Diploma
        </h3>
        <div [style.display]="displayInfo ? 'none' : 'block'" class = "toggle-switch">
            <a (click)="toggleInfo()">&#8659;</a>
        </div>
        <div [style.display]="displayInfo ? 'block' : 'none'">
            <ul>
                <li>
                    <u>Graduation Date:</u> June 2021
                </li>
                <li>
                    <u>Honors:</u> AP Scholar with Distinction
                </li>
                <li>
                    <u>Relevant Courses:</u> AP Computer Science Principles (5), AP Computer Science A (4), AP Calculus BC (5)
                </li>
                <li>
                    <u>Extracurricular Activities:</u> Math Team President, Model United Nations Chairman, National Honor Society Executive Member, English Honor Society, Robotics Team (Engineering Team), Key Club Member, Varsity Badminton, Junior Varsity Volleyball, Violinist (Concert, String Ensemble, and Chamber Orchestras)
                </li>
            </ul>
            <div class = "toggle-switch">
                <a (click)="toggleInfo()">&#8657;</a>
            </div>
        </div>
    </div>
</div>
<br class ="right"> 

    
