h4 {
    color: #006989;
}

.edu {
    margin-bottom: 2rem;
}

p {
    margin: 0.25rem;
}

.details-1 {
    color: #005C78;
    font-size: 0.8rem;
}

.details-2 {
    color: grey;
    font-size: 0.8rem;
}