<div #carousel>
    <div class = "slide">
        <div class = "roles mtb">
            <h4>TIP Intern @ M&T Bank, June 2023 - Present</h4>
            <ul>
                <li>
                    Coordinate alongside the Consumer Lending and Account Opening (CLAO) team to compose an Docker within M&T Bank's GitLab CI/CD pipelines in order to pull new or existing .NET web applications and deploy them to the OpenShift deployment environment.
                </li>
                <li>
                    Establish a firm understanding of Docker and YAML alongside Angular, C#, and .NET via the usage of these technologies when constructing the CI/CD pipeline and a mock web application to be built along the pipeline.
                </li>
                <li>
                    Utilize agile practices and methodologies in order to produce and push software changes in an effective manner.
                </li>
                <li>
                    Efforts will act as a ground-breaking proof of concept for increasing application performance, health, and maintainability across all of the company's web applications.
                </li>
                <li>
                    Earned an award at the annual intern showcase for work on the project.
                </li>
            </ul>
        </div>
    </div>
    <div class = "slide">
        <div class = "roles ub-ta">
            <h4>Teaching Assistant @ University at Buffalo, August 2022 - Present</h4>
            <ul>
                <li>
                    Assist faculty of in teaching students by leading students through recitation activities related to topics discussed in lectures.
                </li>
                <li>
                    Assess assignments from students and provide quantitative and qualitative feedback promptly.
                </li>
                <li>
                    Collaborate with faculty and consult feedback on issues regarding the class or recommendations for improving the class.
                </li>
                <li>
                    Classes taught: CSE250 (Data Structure and Algorithms), CSE199 (Computer Science Seminar), and CSE191 (Discrete Mathematics)
                </li>
            </ul>
        </div>
    </div>
    <div class = "slide">
        <div class = "roles bg-fend">
            <h4>Front-End Developer Intern @ Bellows Gardens INC, August 2022</h4>
            <ul>
                <li>
                    Collaborated with the owner of Bellows Gardens Inc to develop and design the company's first website.Collaborated with the owner of Bellows Gardens Inc to develop and design the company's first website.
                </li>
                <li>
                    Assisted in selecting and organizing photos of the company's work to be put into the site.
                </li>
                <li>
                    Leveraged HTML, CSS, and JavaScript in the production of the website for simplicity and refinement of skills.
                </li>
                <li>
                    Website is to be used as an online portfolio of the company's work to be presented to current or prospective clients.
                </li>
            </ul>
        </div>
    </div>
</div>
<a class="prev" (click)="plusSlides(-1)">&#10094;</a>
<a class="next" (click)="plusSlides(1)">&#10095;</a>