<div #carousel>
    <div class = "slide">
        <div class = "roles ub-ta">
            <h4>Teaching Assistant @ University at Buffalo, August 2022 - Present</h4>
            <ul>
                <li>
                    Assisted Dr. Kenny Joseph, Dr. Nasrin Akhter, and Dr. Eric Mikida in the instruction of 400+ students on the topics of Data Structures, Societal Computing, and Discrete Mathematics.
                </li>
                <li>
                    Led students through recitation activities related to topics discussed in lectures to aid in enhancing their understanding of said topics.
                </li>
                <li>
                    Assess assignments from students and provide quantitative and qualitative feedback.
                </li>
                <li>
                    Collaborate with faculty and consult feedback on issues regarding the class or recommendations for improving the class.
                </li>
            </ul>
        </div>
    </div>
    <div class = "slide">
        <div class = "roles mtb">
            <h4>TIP Intern @ M&T Bank, June 2023 - August 2023</h4>
            <ul>
                <li>
                    Coordinate alongside the Consumer Lending and Account Opening (CLAO) team to automate the use of Docker within GitLab CI/CD pipelines in order to pull new or existing .NET web applications and deploy them to the OpenShift deployment environment.
                </li>
                <li>
                    Pioneered the project's design, resulting in elevated application performance and sustainability across the organization's web portfolio, saving the bank 1 million dollars annually.
                </li>
                <li>
                    Utilize agile practices and methodologies in order to produce and push software changes in an effective manner.
                </li>
                <li>
                    Attained recognition and an award during the program, underscoring the significance and impact of the project.
                </li>
            </ul>
        </div>
    </div>
    <div class = "slide">
        <div class = "roles bg-fend">
            <h4>Front-End Developer Intern @ Bellows Gardens INC, August 2022</h4>
            <ul>
                <li>
                    Collaborated with the owner of Bellows Gardens Inc to develop and design the company's first website.Collaborated with the owner of Bellows Gardens Inc to develop and design the company's first website.
                </li>
                <li>
                    Assisted in selecting and organizing photos of the company's work to be put into the site.
                </li>
                <li>
                    Leveraged HTML, CSS, and JavaScript in the production of the website for simplicity and refinement of skills.
                </li>
                <li>
                    Website is to be used as an online portfolio of the company's work to be presented to current or prospective clients.
                </li>
            </ul>
        </div>
    </div>
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
