img {
    float: left;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    object-fit: cover;
    border: 5px outset rgb(10, 127, 182);
}
.slideshow-image {
    animation: fade 3s infinite;
} 
@keyframes fade {
    0% {
        opacity: .05;
    }
    25% {
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100% {
        opacity: .05;
    }
}