<mat-card class = "card">
    <mat-card-header>
        <mat-card-title>
            Experience 💼
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>I have been fortunate to obtain diverse work experiences that have enabled me to apply and enhance my technical skills. These roles have also provided opportunities for me to develop and refine my soft skills. Below, I have outlined these relevant positions.</p>
        <app-carousel></app-carousel>
    </mat-card-content>
</mat-card>

