.card {
    margin-top: 1rem;
    border: 2px solid rgba(17, 28, 112, 0.731);
    background-color: rgba(10, 128, 182, 0.201);
    border-radius: 25px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
mat-card-title {
    font-size: 1.5rem;
}
mat-card-content {
    margin: .25rem 1.25rem;
}

