mat-card {
    border: 2px solid rgba(17, 28, 112, 0.731);
    background-color: rgba(10, 128, 182, 0.201);
    border-radius: 25px;
}
mat-card-title {
    font-size: 1.5rem;
}
mat-card-content {
    margin: .5rem 1.25rem;
}