<button mat-button [matMenuTriggerFor] = "menu" class = "main">
    <img src = "assets/images/icons8-menu-30.png"> 
</button>
<mat-menu #menu="matMenu">
    <a href = "#home" ><button mat-menu-item>Home</button></a>
    <a href = "#about"><button mat-menu-item>About Me</button></a>
    <a href = "#education"><button mat-menu-item>Education</button></a>
    <a href = "#tech-stack"><button mat-menu-item>Skills</button></a>
    <a href = "#experience"><button mat-menu-item>Experience</button></a>
  </mat-menu>
