html, body { 
    height: 100%; 
}
body {
    background-color:rgba(28, 54, 80, 0.986); 
    margin: 2rem; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 1rem;
    color: white;
}
h1{
    font-size: 3rem;
}
