html{
    scroll-behavior: smooth;
}
html, body { 
    height: 100%; 
}
body {
    background-color:rgba(28, 54, 80, 0.986); 
    margin: 2rem; 
    font-family: Roboto, apple color emoji; 
    font-size: 1.15rem;
    color: white;
}
h1 {
    font-size: 3rem;
}