html{
    scroll-behavior: smooth;
}
html, body { 
    height: 100%; 
}
body {
    background-color: #152c42;
    background-attachment: fixed;
    margin: 2rem; 
    font-family: Roboto, apple color emoji, Arial; 
    font-size: 1.15rem;
    color: white;
}
h1 {
    font-size: 3rem;
}
.content {
    padding: 2rem;
}
.left {
    clear: left;
}
.right {
    clear: right;
}
@media only screen and (max-width: 600px) {
    body {
        margin: 0rem;
    }
  }
