<div>
    <h2 class = "name">hi, i'm ethan phan</h2>

    <p>
        i'm a <span class="blue">aspiring software engineer</span> studying computer science at the <span class="blue">university at buffalo</span>. currently, i am a undergraduate teaching assistant but have had experience as a software engineer intern at m&t bank.
    </p>

    <p>
        as a <span class="blue">driven problem-solver and technology enthusiast</span>, I am driven to explore new ways of leveraging computing to improve people's lives.
    </p>

    <p>
        i am <span class="blue">proficient in english and vietnamese</span> given my vietnamese heritage. additionally, i have a basic knowledge of korean and spanish. i have worked on group projects with diverse teammates and have always received positive feedback for my clear communication, active listening, and empathy.
    </p>

    <p>
        aside from computing, my interests span across a wide range of topics, <span class="blue">including sports, food, aviation, lego, and rubik's cubes</span>.
    </p>
</div>

