.name {
    color: #0A6847;
}

p {
    margin-top: 3rem;
}

.blue {
    color: #005C78;
}


// Setup for enabling responsiveness
@media (max-width: 480px) {
    h2 {
        font-size: 1.25rem;
    }
    p {
        font-size: 0.8rem;
    }
}