<mat-card class = "card">
    <mat-card-header>
        <mat-card-title>About Me 🧑🏻</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Hi, I'm Ethan, a software engineer studying Computer Science at the University at Buffalo. As a problem-solver and technology enthusiast, I am driven to explore new ways of leveraging computing to improve people's lives. 
        </p>
        <p> 
            I am proficient in English and Vietnamese given my Vietnamese heritage. Additionally, I have a basic knowledge of Korean and Spanish. I have worked on group projects with diverse teammates and have always received positive feedback for my clear communication, active listening, and empathy.
        </p>
        <p>
            My interests span across a wide range of topics, including sports, food, aviation, Lego, and Rubik's Cubes, reflecting my diverse curiosity and passion for exploration.
        </p>
    </mat-card-content>
</mat-card>
<br>