<mat-card class = "card">
    <mat-card-header>
        <mat-card-title>About Me 🧑🏻</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Hi! My name is Ethan Le Phan, and I am a sophomore at the University at Buffalo School of Engineering and Applied Science. I am currently pursuing a Bachelor of Science degree in Computer Science! I am Fluent in English and Vietnamese and also possess an elementary understanding of Korean and Spanish. My interests span across a wide range of topics, including sports, food, aviation, Lego, and Rubik's Cubes, reflecting my diverse curiosity and passion for exploration.
        </p>
        <p>
            I am technology enthusiast and creative problem-solver, eager to learn and explore new ideas, I am dedicated to finding innovative ways to leverage computing for the betterment of people's lives.  Currently, I am working as a TIP Intern at M&T Bank, where I collaborate with the Consumer Lending and Account Opening Team on their Docker/Containerization project as a <strong>Full-Stack and DevOps Developer</strong>. Throughout my experiences working on group projects with diverse teams, I have consistently received positive feedback for my effective communication, active listening, and empathetic approach.
        </p>
    </mat-card-content>
</mat-card>
<br>